<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="alltestcases">
		<classes>
			<class name="TestCases.loginPageTest" />
			<class name="TestCases.SwagLabsPageTest" />
		</classes>
	</test> <!--
	alltestcases -->
</suite> <!--
Suite -->
